body {
    background-image: url(https://thumbs.dreamstime.com/b/email-vector-icon-black-white-mail-illustration-outline-linear-message-icon-eps-93075067.jpg);
    background-size: cover;
    background-attachment: fixed;
}