body {
    background-color: #336897;
}

body.index{
    text-align: center;
}

div.col {
    padding: auto;
}

.welcome {
    color: #fff;
    background-color: #254D7E;
    text-align: center;
}


/* -------------------------------------------------------------------------------------------------------- */



/*Navbar Styling*/

.navbar-text.nav-text {
    color: #fff;
    font-size: 30px;
    text-align: center;
}


/* -------------------------------------------------------------------------------------------------------- */


/*Form Styling*/

.fieldDiv{
    background-color: #254D7E;
    border-radius: 6px;
    margin: auto;
    padding: auto;
    text-align: center;
    width: 50%;
    border: 1px solid transparent;
    padding: 1.25rem;
    font-size: 23px;
}

.field{
    background-color: #254D7E;
    color: #fff;
    border-radius: 6px;
    margin: auto;
    padding: auto;
    text-align: center;
    border: 1px solid transparent;
    padding: 1.25rem;
    font-size: 23px;
}

.form.entry.title{
    background-color: #254D7E;
    color: #fff;
    border-radius: 6px;
    margin: auto;
    padding: auto;
    text-align: center;
    width: 50%;
    font-size: 27px;
    padding: 1.25rem;
    font-weight: bold;
}

.form.entry.display{
    background-color: #254D7E;
    color: #fff;
    border-radius: 6px;
    margin: auto;
    padding: auto;
    text-align: center;
    width: 50%;
    padding: 1.25rem;
}


.input {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
}

hr{ 
    height: 2px;
    color: #31BDE6;
    background-color: #31BDE6;
    border: none;
  }

/* -------------------------------------------------------------------------------------------------------- */


/*Hotel Styling*/
.selection{
    margin: auto;
    padding-left: 10px;
    background-color: #31BDE6;
}

/* -------------------------------------------------------------------------------------------------------- */


/*Buttons*/
.button {
	margin-top: 15px;
	padding: auto;
	background-color: #31BDE6;
	color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	justify-content: center;
	text-align: center;
	border-radius: 4px;
	padding: 5px 12px;
	box-shadow: none;
}

input[type=submit]{
	margin: auto;
	padding: auto;
	background-color: #31BDE6;
	color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	justify-content: center;
	text-align: center;
	border-radius: 4px;
	padding: 5px 12px;
	box-shadow: none;
}

input[type=submit]:hover {
    border-color: #b5b5b5;
	color: #363636;
}

.control {
    text-align: center;
    align-content: center;
}


/* -------------------------------------------------------------------------------------------------------- */


/*finish.php*/

#move {
    margin-top: 15%;
    margin-bottom: 15%;
    height: 100%;
    text-align: center;
}

.box {
    width: 50%;
    margin-left: 25%;
    background-color: #254D7E;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    display: block;
    padding: 1.25rem;
}

.emailFinal {
	background: #00003E; 
    background: -webkit-linear-gradient(to right, #00003E, #31BDE6);  
    background: linear-gradient(to right, #00003E, #31BDE6); 
}

/* -------------------------------------------------------------------------------------------------------- */


/*Footer Styling*/

.full {
    width: 100%;	
}

.footer {
    margin-left: auto;
    margin-right: auto;
	height: auto;
	padding-bottom: 15px;
	position: relative;
	width: 100%;
    color:#fff;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
    background: #00003E; 
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);  
    background: linear-gradient(to right, #31BDE6, #00003E);     
}


.footer h3 {
	border-bottom: 1px solid #BAC1C8;
    color:#fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color:#fff;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #fff;
    color:#fff;
}

.footer i {
	color: #fff;
    color:#fff;
}

.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.subscribe-btn .btn {
	border: medium none;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
    margin-top:10px;
}
.subscribe-btn {
	overflow: hidden;
}

.social li {
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
    background: #00003E; 
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);  
    background: linear-gradient(to right, #31BDE6, #00003E);  
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 40px;
	color:#fff;
	text-align: center;
}


.footer-bottom p.pull-left {
	padding-top: 6px;
}

.payments {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color:#fff;
}
